#category {
  .allButton {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 20%;
   

    .btnCategory {
      font-family: 'Snippet', sans-serif;
      font-size: 17px;
      width: 120px;
      margin: 10px;
      padding: 6px;
      color: rgb(255, 255, 255, 0.5);
      cursor: pointer;
      text-align: center;
      border: 1px solid #444;
      border-radius: 3px;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: inset rgba(0, 0, 0, 0.35) 2px 2px 12px;
      -webkit-transition: all 0.7s;
      -moz-transition: all 0.7s;
      transition: all 0.7s;
    }

    .active {
      font-size: 17px;
      width: 120px;
      color: rgb(255, 255, 255);
      text-align: center;
      border: 1px solid #0B8CB8;
      box-shadow: inset rgba(255, 255, 255, 0.35) 2px 2px 12px, #0B8CB8 0 0 10px;
    }
  }

  .containerText {
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
  }
}

@media screen and (max-width: 855px) {
  #category .allButton {
    margin: 0;
  }
}