#menu {
  .top {
    display: flex;
    .contentPates,
    .contentBoissons {
      width: 100%;
      text-align: start;
      padding: 0px 10%;
      h2 {      
        margin-top: 20px;
        margin-bottom:15px;
      }
      span {
        display: flex;
        justify-content: space-between;
        line-height: 2;
        p {
          font-size: 20px;
        }
      }
    }
    .vertical-line {
      border-left: 2px solid rgb(255, 255, 255);
      display: inline-block;
      height: 15vh;
      margin: 50px 0;
    }
  }

  .middle {
    h2 {
      padding: 20px 0px;
    }
    .contentSandwich {
      padding: 0px 10%;
      display: flex;
      .divType {
        width: 25%;
        h3 {
          text-align: start;
          margin-bottom:20px; 
          width: 80%;
          padding: 6px;
          color: rgb(255, 255, 255, 0.5);
          border: 1px solid #444;
          border-radius: 3px;
          background: rgba(255, 255, 255, 0.1);
          box-shadow: inset rgba(0, 0, 0, 0.35) 2px 2px 12px;
          -webkit-transition: all 0.7s;
          -moz-transition: all 0.7s;
          transition: all 0.7s;  
        }
        .type {
          display: flex;
          margin: 5px 0px;
          justify-content: space-between;
          padding: 1px;
          p {
            font-size: 20px;
          }
        }

        &:hover {
          h3 {
             color: #f5f5f5;
             background-color: rgba(255, 255, 255, 0.24);
          }      
        }
      }
    }
  }

  .bottom {
    h2 {
      padding: 10px 0;
      text-align: center;
    }
    .contentDesserts {
      display: flex;
      width: 100%;
      .left,
      .right {
        width: 100%;
        text-align: start;
        padding: 0px 10%;
        span {
          display: flex;
          justify-content: space-between;
          line-height: 2;
          p {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 855px) {
  #menu {
    .top {
      flex-wrap: wrap;
      margin: 0 20px;
      .contentPates,
      .contentBoissons {
        padding: 0;
      }
      .vertical-line {
        display: none;
      }
    }

    .middle {
      flex-wrap: wrap;
      margin: 0 20px;
      .vertical-line {
        display: none;
      }
      .contentSandwich {
        width: 100%;
        padding: 0;
        flex-direction: column;
        .divType {
          width: 100%;    
          h3{
            width: 100%;
            text-align: center;
            margin-top:20px;       
          }
          .type{
            display:flex;
          }
          &:focus {
          h3 {
             color: #f5f5f5;
             background-color: rgba(255, 255, 255, 0.24);
          }      
        }
        }
      }
    }

    .bottom {
      margin: 0 20px;
      h2 {
        text-align: center;
      }
      .contentDesserts {
        flex-wrap: wrap;
        width: 100%;
        .left,
        .right {
          width: 100%;
          text-align: start;
          padding: 0;
          span {
            display: flex;
            justify-content: space-between;
            line-height: 2;
          }
        }
      }
    }
  }
}
