#menu {
  .top {
    display: flex;
    .contentPates,
    .contentBoissons {
      width: 100%;
      text-align: start;
      padding: 0px 10%;

      h2 {
        margin-top: 10px;
        margin-bottom:15px;
        // background: rgb(146, 35, 35);
      }
      span {
        display: flex;
        justify-content: space-between;
        line-height: 2;
        p {
          font-size: 20px;
        }
      }
    }

    .vertical-line {
      border-left: 2px solid rgb(255, 255, 255);
      display: inline-block;
      height: 15vh;
      margin: 40px 0;
    }
  }

  .middle {
    h2 {
      padding: 10px 0px;
      // background: rgb(107, 13, 13);
    }
    .contentSandwich {
      display: flex;
      .divType {
        width: 25%;
        border: 2px solid black;
        h3 {
          padding: 5px;
          margin-bottom:15px;
          // background: rgb(146, 35, 96);
        }
        .type {
          display: flex;
          margin: 5px 10px;
          justify-content: space-between;
          padding: 1px;
          p {
            font-size: 20px;
          }
        }
      }
    }
  }

  .bottom {
    h2 {
      padding: 10px 0;
      text-align: center;
      // background: rgb(51, 107, 13);
    }

    .contentDesserts {
      display: flex;
      width: 100%;

      .left,
      .right {
        width: 100%;
        text-align: start;
        padding: 0px 10%;

        span {
          display: flex;
          justify-content: space-between;
          line-height: 2;
          // background: rgb(140, 15, 156);
          p {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 855px) {
  #menu {
    .top {
      flex-wrap: wrap;
      margin: 0 20px;
      .contentPates,
      .contentBoissons {
        padding: 0;
      }
      .vertical-line {
        display: none;
      }
    }

    .middle {
      flex-wrap: wrap;
      margin: 0 20px;
      .vertical-line {
        display: none;
      }
      .contentSandwich {
        flex-direction: column;
        background: rgb(172, 162, 162);
        .divType {
          width: 100%;
        }
      }
    }

    .bottom {
      margin: 0 20px;
      h2 {
        text-align: center;
      }

      .contentDesserts {
        flex-wrap: wrap;
        width: 100%;

        .left,
        .right {
          width: 100%;
          text-align: start;
          padding: 0;

          span {
            display: flex;
            justify-content: space-between;
            line-height: 2;
            background: rgb(140, 15, 156);
          }
        }
      }
    }
  }
}
