/* ------(  Général  )------*/

html {
  box-sizing: border-box;
  font-size: 15px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Titillium Web", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

// .container-Perso {
//   min-width: 1140px;
//   margin: 0 auto;
// }

body {
  height: 100vh;
  background: #000;
  color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Snippet&display=swap');

/* ------(  My Scss  )------*/

header {
  display: flex;
  justify-content: center;
  padding-top: 50px;

  h1 {  
    position: relative;
    z-index: 10;
    font-family: 'Snippet', sans-serif;
    font-size: 80px;
    text-align: center;
    .textIn{
      margin-left: 70px;
    }
  }
  img {
    position: absolute;
    z-index: 5;
    margin-left: -50px;
    top: 80px;
    object-fit: cover;
    width: 200px;
    height:200px;
  }
 

}